<div id="container">

          <div id="top404"></div>

          <div id="mid404">

              <div id="content">
                  
                  <div id="errorcode">ERROR 500 - INTERNAL SERVER ERROR</div>

                  <br><br>

              </div>

          <div style="clear:left;"></div>

          </div>

          <div id="bottom404"></div>

      </div>