<div class="title-screen">
            <img src="images/robochair_home.png" alt="Graphic of the RoboChair product" id="home_img">
            <div class="title">
                <h1>Welcome to Skeletal Axes Assistive Robots</h1>
                <br>
                <p>Twelve percent of adults in the US are mobility challenged and unable to walk due to major injuries or diseases.  SAAR’s future products will increase quality of life for these individuals and give them more independence.  The simple activity of going for a walk in the park, join family events, and get out of their homes will again be possible.</p>
                <p>Our mission is to aid our users gain their mobility back and be able to walk independently.</p>
            </div>
</div>