<div class="page_title">
            <h1>Products</h1>
        </div>

        <div class="product-content">
            <div id="robochair" class="grow" onclick="location.href='robochair';">

            </div>
            <div id="exollent" class="grow" onclick="location.href='exollent';">

            </div>
        </div>