<div class="page_title">
            <h1>Technology</h1>
        </div>

        <div class="product-content">
            <div id="ai-ml" class="grow" onclick="location.href='ai-ml.html';">
                <img src="images/Pyramid.PNG" alt="AI application pyramid" class="prod-img">
                <h2>AI/ML</h2>
                <p>The AI/ML ladder, as shown, is a unique SAAR vision of technological singularly, starting at a low lever of motion ability and ending up at a top, limitless, artificial creative thinking ability.</p>
            </div>
        </div>